.header {
  background-color: greenyellow;
  padding: 2px;

}
.navbar a {
  text-decoration: none;
  padding: 20px;
}




.links {
  margin-left: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.navbar {
  background-color: rgba(0, 0, 0, 0 );
}
