<div class="header">
<div class="links">
  <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/product" routerLinkActive="active">Products</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
      <a routerLink="/order-history" routerLinkActive="active">History</a>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
</div>

<router-outlet></router-outlet>
