<div class="product-card">
  <p>Product Name: {{product.name}}</p>
  <p>Product Description: {{product.description}}</p>
  <p>Product Price: {{product.price}}€</p>
  <p >amount: {{quantity * product.price}}</p>
<input class="input" type="text" name="name" [(ngModel)]="quantity" class="input"/>
<button class="minusButton" (click)="increaseQuantity()">+</button>
<button class="plusButton" (click)="decreaseQuantity()">-</button>
<button class="addButton"*ngIf="!hide" (click)="updateCart()">Cart</button>
</div>







<!--
<div class="container">
  <select id="quantity" class="select">
    <option value="Item 1">1</option>
    <option value="Item 2">2</option>
    <option value="Item 3">3</option>
    <option value="Item 3">4</option>
    <option value="Item 3">5</option>
    <option value="Item 3">6</option>
  </select>
</div>-->
